APP_NAME=roadbogo-api
ENVIRONMENT=local
BACKEND_CORS_ORIGINS=["http://localhost:3000"]
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=change-me
DB_SCHEME=roadbogo

# MinIO
MINIO_ENDPOINT=192.168.0.101:9000
MINIO_ACCESS_KEY=change-me
MINIO_SECRET_KEY=change-me
MINIO_BUCKET=roadbogo
MINIO_SECURE=false
