
APP_NAME=roadbogo-api
BACKEND_CORS_ORIGINS=["http://localhost:3000"]
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=change-me
DB_SCHEME=roadbogo

APP_ENV=local
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1
INTERNAL_API_V1_PREFIX=/api/internal/v1
CORS_ORIGINS=http://localhost:3000
LOG_LEVEL=INFO

